* {
  margin: 0;
  padding: 0; 
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 200 400px;
}

.grid div {
  background: gray;
  padding: 10px;
}

p {
  font-family: arial;
  color: rgb(100, 100, 100);
  font-size: 25px;
}

header {
  background-color: greenyellow;
  height: 5cm;
  margin-bottom: 7px;
  border-right: 7px;
}

na ul li {
  display: inline-block;
  @media (max-width: 1200px) {
    display: block;
    font-size: 25px;
  }
  @media (max-width: 480px) {
    display: block;
    font-size: 20px;
  }
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: bold;
}

footer {
  background-color: greenyellow;
  font-family: arial;
  color: rgb(100, 100, 100);
}

img {
  font-size: 16px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-right: 7px;
}
